{% load elements contrib %}

<section class="auth-control">
    {% include 'ts2/web/identities.html' %}
</section>

<div class="sidebar-content">
    {% if user_authenticated and discord.info %}

    <div class="accordion-item">
        <h2 class="accordion-header" id="view-home">
            {% sidebarlink 'web:manage.index' 'Home' '<i class="bi bi-house-fill"></i>' %}
        </h2>
    </div>

    {% if discord.joined %}

    {% chapter 'view-core' name='Core' icon='<i class="bi bi-gear-wide-connected"></i>' %}
    {% sidebarlink 'web:manage.core' 'Core settings' '<i class="bi bi-gear-fill"></i>' %}
    {% sidebarlink 'web:manage.acl' 'Access control' '<i class="bi bi-person-check-fill"></i>' %}
    {% sidebarlink 'web:manage.logging' 'Logging' '<i class="bi bi-receipt-cutoff"></i>' %}
    {% endchapter %}

    {% extensions_list %}

    {% endif %}
    {% endif %}

    {% chapter 'extras' name='Extras' icon='<i class="bi bi-star-fill"></i>' %}
    {% sidebarlink 'web:blog' 'About' '<i class="bi bi-star"></i>' dest='about' %}
    {% sidebarlink 'web:blog' 'Privacy' '<i class="bi bi-shield-lock"></i>' dest='privacy' %}
    {% sidebarlink 'web:features' 'Project tracker' '<i class="bi bi-kanban"></i>' %}
    {% sidebarlink 'web:bugreport' 'Feedback & bug report' '<i class="bi bi-bug"></i>' %}
    {% endchapter %}
</div>