.identity-control {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

figure.profile-picture {
    width: 32px;
    height: 32px;

    margin: 0 0.5rem 0 0;
    padding: 0;

    img {
        height: 32px;
        object-fit: contain;
    }
}

.identity-str {
    max-width: 400px;
    max-height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.server-refresh {
    display: flex;
    justify-content: flex-end;

    button {
        background: none;
        padding: 0;
        border: none;
    }

    .dropdown-header {
        padding: 0 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
}
