:root {
    --masthead-height: 3.6rem;
    --masthead-space-vertical: 10px;
    --masthead-space-horizontal: 40px;

    @media screen and (max-width: 1024px) {
        --masthead-space-horizontal: 1.3rem;
    }
}

.masthead-container {
    width: 100vw;
    height: var(--masthead-height);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1200;
    padding: var(--masthead-space-vertical) var(--masthead-space-horizontal);

    background-color: $bw-grey-2;
    box-shadow: var(--box-shadow-1);

    nav {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: center;
    }
}

.masthead-container + section {
    margin-top: var(--masthead-height);
}

.masthead-opt-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    height: 100%;

    .nav-control {
        font-weight: 600;
    }
}

.nav-control {
    height: 100%;
    padding: 0 1.5rem;

    border-right: 1px solid $color-text;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:last-of-type {
        border-right: none;
        padding-right: 0;
    }

    a {
        color: var(--color-text);
    }

    i.bi {
        &:first-child {
            margin-inline-end: 0.4rem;
        }

        &:last-child {
            margin-inline-start: 0.4rem;
        }

        &.bi-chevron-down::before {
            font-weight: 700 !important;
        }
    }
}

#auth-control {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

#top-menu-toggle {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
        display: flex;
    }

    .top-menu-toggle-content {
        display: flex;
        flex-flow: row nowrap;
    }

    .top-menu {
        color: $color-text;
        font-size: 1.6rem;
        font-weight: 700 !important;

        i.bi::before {
            vertical-align: middle;
        }
    }

    .identity-control {
        position: relative;
        top: 1px;
    }
}

@import "./identity-control";
