{% extends 'ts2/commons/article.html' %}
{% load inspect elements static %}

{% block apps %}
{{ block.super }}
<script defer src="{% static '/telescope2/bugreport.bundle.js' %}"></script>
{% endblock %}

{% block app_styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/telescope2/bugreport.css' %}">
{% endblock %}

{% block title %}Feedback & bug report{% endblock %}

{% block article %}

<header>
    <h1>Feedback & bug report</h1>
</header>

<section>
    {% csrf_token %}
    <div id="bug-report" data-action="{{ endpoint }}"></div>
</section>

{% endblock %}