{% extends 'ts2/web/base.html' %}
{% load inspect elements static %}

{% block apps %}
<script defer src="{% static '/telescope2/bugreport.bundle.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% static '/telescope2/bugreport.css' %}">
{% endblock %}

{% block title %}Feedback & bug report{% endblock %}
{% block main_title %}Feedback & bug report{% endblock %}

{% block sections %}
{% section id='report' title='report' classes="grid-span-2" %}
{% csrf_token %}
<div id="bug-report" data-action="{{ endpoint }}"></div>
{% endsection %}
{% endblock %}