**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist
**/instance
**/*.sqlite3
**/*.sqlite3-shm
**/*.sqlite3-wal
README.md
**/.spyderproject
**/.spyproject
**/.flake8
**/.temp/
**/node_modules
**/.watchmanconfig
**/.ipynb_checkpoints
**/profile_default/
**/ipython_config.py
**/.DS_Store
backups