@import "./mixin";
@import "../colors";

.article-view {
    #readonly-mode {
        display: none;
    }

    .main-container {
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    .main-content {
        margin-left: 24vw;
        margin-right: 24vw;

        @media screen and (max-width: 1024px) {
            margin-left: 15vw;
            margin-right: 15vw;
        }

        @media screen and (max-width: 768px) {
            margin-left: 5%;
            margin-right: 5%;
        }

        line-height: 1.8;
        font-size: 1rem;

        padding-top: 2.6rem;
        padding-bottom: var(--masthead-height);
    }

    @media screen and (min-width: 1024px) {
        #masthead {
            justify-content: flex-start;

            #auth-control {
                display: none;
            }

            #top-menu-toggle {
                display: block;

                .top-menu-toggle-content {
                    flex-direction: row-reverse;
                }

                .profile-picture {
                    margin: 0 0 0 0.5rem;
                }
            }
        }

        .main-sidebar {
            @include sidebar-offcanvas();
            @include sidebar-offcanvas-from-left();

            padding: 0;
            background-color: $bw-grey-2;
            box-shadow: $box-shadow-2;

            flex-direction: column-reverse;
            justify-content: space-between;

            .auth-control {
                display: block;

                background-color: $bw-grey-2;
                box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.12), 0 -4px 8px rgba(0, 0, 0, 0.09);

                width: 100%;
                margin: 0;
                padding: 1rem;
            }

            .nav-control {
                height: unset;
            }

            .dropdown {
                max-width: 100%;
            }
        }
    }
}

article {
    > section {
        margin: 1.5rem 0;
    }

    > header {
        margin: 0 0 2.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $primary;
    }

    strong {
        color: $color-strong;
        font-weight: 700;
    }
    
    em {
        color: $color-em;
        font-weight: 500;
    }
    
    mark {
        background-color: color.adjust($server-gold, $hue: 10deg, $lightness: -40%);
        color: $server-gold;
        border-radius: 2px;
    }

    blockquote {
        margin: 1rem 0;
        padding: 0.7rem 1rem;
        font-weight: 500;
        letter-spacing: -0.2px;
    
        background-color: color.change($color-accent-desat, $alpha: 0.05);
        color: $color-accent;
        border-left: 3px solid $color-accent;
    }    
}
