:root {
    --footer-height: calc(100vh - 4rem);
}

.footer-container {
    width: 100vw;
    height: 4rem;

    position: sticky;
    top: var(--footer-height);
    z-index: -1;

    background-color: $bw-grey-2;
    box-shadow: var(--box-shadow-1);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
