.main-container {
    --sidebar-width: 288px;

    margin: 0 var(--masthead-space-horizontal) 0 0;
    padding: 0 0 2rem 0;

    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    column-gap: 2.4rem;

    @media screen and (max-width: 1024px) {
        margin: 0 var(--masthead-space-horizontal) 4rem;
        grid-template-columns: 1fr;
    }
}

.main-sidebar {
    .sidebar-content {
        position: sticky;
        top: var(--masthead-height);
    }

    .nav-control {
        font-weight: 600;
    }

    .auth-control {
        display: none;

        @media screen and (max-width: 1024px) {
            display: flex;
        }

        margin: 0 1rem 1rem 1rem;

        flex-flow: column nowrap;

        .nav-control {
            padding: 0.25rem 0;
            border: none;

            &:last-of-type {
                padding-right: 0.5rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        position: fixed;
        z-index: 1000;

        height: calc(100vh - var(--masthead-height));
        right: 0;
        left: 0;
        bottom: 100vh;

        overflow-x: hidden;
        overflow-y: scroll;

        .sidebar-content {
            position: static;
        }

        &.sidebar-visible {
            bottom: 0;
        }

        transition: bottom 0.35s cubic-bezier(0.09, 1.07, 0.26, 1);

        padding: 1rem 0;
        background-color: $bw-grey-1;
    }
}

.main-content {
    padding-top: 2rem;
    min-width: 0;
}

.section-container {
    display: grid;

    row-gap: 2rem;
    column-gap: 1.6rem;

    section {
        border-top: 2px solid;
        margin-bottom: 1rem;
        padding: 0.5rem 0 0 0;

        header {
            margin: 0 0 1rem;
            user-select: none;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .grid-span-all {
            grid-column: 1 / 2;
        }
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .grid-span-all {
            grid-column: 1 / 3;
        }
    }

    grid-template-columns: repeat(3, minmax(0, 1fr));

    .grid-span-all {
        grid-column: 1 / 4;
    }

    .grid-span-2 {
        grid-column: span 2;
    }

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-flow: column nowrap;

        row-gap: unset;
        column-gap: unset;

        section {
            flex: 1 0 auto;
            margin-bottom: 2rem;
        }
    }
}
