@import "./mixin";

.main-container {
    --sidebar-width: 288px;

    margin: 0 var(--masthead-space-horizontal) 0 0;
    padding: 0 0 2rem 0;

    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    column-gap: 2.4rem;

    @media screen and (max-width: 1024px) {
        margin: 0 var(--masthead-space-horizontal) 4rem;
        grid-template-columns: 1fr;
    }
}

.main-sidebar {
    // background-color: $bw-grey-2;

    .sidebar-content {
        position: sticky;
        top: var(--masthead-height);
    }

    .nav-control {
        font-weight: 600;
    }

    .auth-control {
        display: none;

        @media screen and (max-width: 1024px) {
            display: flex;
        }

        margin: 0 1rem 1rem 1rem;

        flex-flow: column nowrap;

        .nav-control {
            padding: 0.25rem 0;
            border: none;

            &:last-of-type {
                padding-right: 0.5rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        @include sidebar-offcanvas();
        @include sidebar-offcanvas-from-top();
    }

    .accordion-item {
        --item-distance: 0.5rem;

        @media screen and (max-width: 1024px) {
            span {
                font-size: 1.1rem;
            }
            --item-distance: 0.6rem;
        }

        border: none;
        background-color: transparent;

        @media screen and (min-width: 1024px) {
            &:first-of-type .accordion-header {
                padding-top: 3rem;
            }
        }

        .accordion-button.collapsed {
            border-radius: 0;
        }

        .accordion-header,
        li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            letter-spacing: -0.5px;
            font-size: 1.1rem;
            line-height: 1rem;

            user-select: none;

            i.bi::before {
                font-size: 1.2rem;
                margin: 0 8pt 0 0;
                vertical-align: middle;
            }
        }

        .accordion-header {
            margin: 0;
            padding: 1rem 1rem 1rem 1.2rem;
            cursor: pointer;
            background-color: $bw-grey-2;
            box-shadow: $box-shadow-1;
            font-weight: 700;
        }

        .accordion-body {
            margin: 1rem 0;
            background-color: transparent;
            padding: var(--item-distance) 1rem var(--item-distance) 1.2rem;
        }

        li {
            padding: 0 0.5rem 0 0;
            margin: var(--item-distance) 0;

            &:first-child {
                margin-block-start: 0;
            }
            &:last-child {
                margin-block-end: 0;
            }
        }

        ul {
            margin: 0 0 0 0.9rem;
            padding: 0;
            display: flex;
            flex-flow: column nowrap;

            li {
                font-weight: 500;
                font-size: 0.95rem;
            }
        }

        a {
            color: $color-text;
        }

        .sidebar-active {
            color: #{$color-accent};

            a {
                color: #{$color-accent};
            }
        }
    }
}

.main-content {
    padding-top: 2.2rem;
    min-width: 0;
}

.section-container {
    display: grid;

    row-gap: 2rem;
    column-gap: 1.6rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .grid-span-all {
            grid-column: 1 / 2;
        }
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .grid-span-all {
            grid-column: 1 / 3;
        }
    }

    grid-template-columns: repeat(3, minmax(0, 1fr));

    .grid-span-all {
        grid-column: 1 / 4;
    }

    .grid-span-2 {
        grid-column: span 2;
    }

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-flow: column nowrap;

        row-gap: unset;
        column-gap: unset;

        section {
            flex: 1 0 auto;
            margin-bottom: 2rem;
        }
    }
}

.main-section {
    position: relative;

    border-top: 2px solid;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0 0;

    header {
        margin: 0 0 1rem;
        user-select: none;
    }
}
