.fixed-overlay {
    position: fixed;
    top: var(--masthead-height);
    right: 0;
    bottom: 0;
    overflow-x: visible;
    overflow-y: visible;
    z-index: 1000;

    padding: 1.5rem var(--masthead-space-horizontal) 0 0;

    @media screen and (max-width: 1024px) {
        padding: 1rem var(--masthead-space-horizontal);
    }
}

.toast {
    @media screen and (max-width: 768px) {
        background-color: $gray-200;
    }
}

.toast-header {
    font-size: 1rem;
}

.toast-body {
    padding: 0.5rem 0.75rem;
}

.toast.debug {
    background-color: $pink;
    color: $white;
}

.toast.info {
    background-color: $cyan-300;
    color: $gray-900;
}

.toast.info.success {
    background-color: $green;
    color: $gray-300;
}

.toast.warning {
    background-color: $yellow;
    color: $black;
}

.toast.error,
.toast.critical {
    background-color: $red;
    color: $white;
}

.toast.server-message {
    position: relative;

    .btn-close {
        padding: 1px 6px;
        position: relative;
        right: 0.7rem;
        top: 0.7rem;
    }
}
