{% load inspect static manifest bot %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block graph_common %}
    <meta name="theme-color" content="#{{ pageinfo.color|default:opengraph.color }}">
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ pageinfo.twitter|default:opengraph.twitter }}" />
    {% endblock %}

    {% block graph_details %}
    <meta property="og:title" content="{{ pageinfo.title|default:opengraph.title }}" />
    <meta name="twitter:title" content="{{ pageinfo.title|default:opengraph.title }}" />
    <meta property="og:description" content="{{ pageinfo.description|default:opengraph.description }}" />
    <meta name="twitter:description" content="{{ pageinfo.description|default:opengraph.description }}" />
    {% endblock %}

    <title>{% block title %}{{ pageinfo.title|default:opengraph.title }}{% endblock %} | {{ BRANDING_FULL }}</title>

    {% block styles %}
    <link rel="icon" href="{% avatar 'png' 128 %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://rsms.me">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha256-djO3wMl9GeaC/u6K+ic4Uj/LKhRUSlUFcsruzS7v5ms=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% if not DEBUG %}
    <link rel="stylesheet" href="{% manifest 'index.css' %}">
    {% block app_styles %}
    {% endblock %}
    {% endif %}
    {% endblock %}

    {% block scripts %}
    {% if not DEBUG %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"
        integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.runtime.global.prod.min.js"
        integrity="sha512-WDlFvrGw3AWbrhCSAYnBT9++yGLUMeTypMzm61FQa+Jlin7vnC9cQ5gEgUoVTxc2nbEeiKEIeDewsd6lj4gf+A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"
        integrity="sha512-0x7/VCkKLLt4wnkFqI8Cgv6no+AaS1TDgmHLOoU3hy/WVtYta2J6gnOIHhYYDJlDxPqEqAYLPS4gzVex4mGJLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"
        integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}
    <script src="{% manifest 'runtime.js' %}"></script>
    <script src="{% manifest 'vendor.js' %}"></script>
    <script src="{% manifest 'index.js' %}"></script>
    <script src="{% manifest 'gql.js' %}"></script>
    {% block apps %}
    {% endblock %}
    {% endblock %}
</head>

<body class="{% block view_modifier %}{% endblock %}">
    <section class="masthead-container">
        {% include 'ts2/commons/masthead.html' %}
    </section>
    <section class="main-container">
        <aside class="main-sidebar accordion accordion-flush" id="sidebar" data-bs-backdrop="false"
            data-bs-scroll="true">
            {% include 'ts2/commons/sidebar.html' %}
        </aside>
        {% block body %}
        {% endblock %}
    </section>
    <div id="toast-container" class="fixed-overlay toast-container" aria-live="polite" aria-atomic="true">
    </div>
    <div id="server-messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>