<nav id="masthead">
    <section id="branding">
        <header>
            <h1 id="site-name" class="bot-name">
                <a href="{% url 'web:index' %}" tabindex="0">{{ BRANDING_SHORT }}</a>
            </h1>
        </header>
    </section>
    <section id="auth-control" class="auth-control masthead-opt-group">
        {% include 'ts2/web/identities.html' %}
    </section>
    <section id="top-menu-toggle">
        <span class="interactive-text top-menu-toggle-content">
            {% if user_authenticated %}
            <span class="identity-control">
                {% if discord.info %}
                <figure class="profile-picture guild-profile">
                    <img src="{{ discord.info.icon_url }}" class="rounded-circle"
                        alt="icon for server {{ discord.info.name }}">
                </figure>
                {% endif %}
                <figure class="profile-picture user-profile">
                    <img src="{{ discord.user_profile.icon_url }}" class="rounded-circle"
                        alt="icon for user {{ discord.username }}">
                </figure>
            </span>
            {% endif %}
            <span class="top-menu">
                <i class="bi bi-list"></i>
            </span>
        </span>
    </section>
</nav>

{% if discord.readonly %}
<div id="readonly-mode" role="presentation">Read-only mode</div>
{% endif %}