<nav id="masthead">
    <h1 id="site-name" class="branding">
        <a href="{% url 'web:index' %}" tabindex="0">{{ BRANDING_SHORT }}</a>
    </h1>
    <section id="auth-control" class="auth-control masthead-opt-group">
        {% include 'ts2/web/identities.html' %}
    </section>
    <section id="top-menu-toggle" tabindex="0">
        <span class="interactive-text top-menu-toggle-content">
            {% if user_authenticated %}
            <span class="identity-control">
                {% if discord.info %}
                <figure class="profile-picture guild-profile">
                    <img src="{{ discord.info.icon_url }}" class="rounded-circle"
                        alt="icon for server {{ discord.info.name }}">
                </figure>
                {% endif %}
                <figure class="profile-picture user-profile">
                    <img src="{{ discord.user_profile.icon_url }}" class="rounded-circle"
                        alt="icon for user {{ discord.username }}">
                </figure>
            </span>
            {% endif %}
            <span class="top-menu">
                <i class="bi bi-list"></i>
            </span>
        </span>
    </section>
</nav>
<div id="banners" role="presentation">
    {% if discord.readonly %}
    <div id="readonly-mode" class="banner">Read-only mode</div>
    {% endif %}
    <noscript>
        <div id="noscript" class="banner">This website requires JavaScript to properly function.</div>
    </noscript>
</div>