@use "../colors.scss";
@use "sass:color";

.form {
    padding: 1rem 0.7rem;
    border-radius: 6pt;
    border: 1px solid color.scale($color-text, $alpha: -75%);

    display: flex;
    flex-flow: column nowrap;

    > ul {
        padding: 0;
        margin: 0;
    }

    > p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .btn {
        margin: 0.5rem 0;

        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }
    }
}

.field-label {
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;

    &.modified {
        color: $yellow-300;
    }
}

.field-after {
    margin: 0.4rem 0 0;

    :deep(p) {
        margin: 0;
        font-size: 0.8rem;
        letter-spacing: 0.01px;
    }
}

.field-hint :deep(p) {
    color: $bw-grey-9;
}

.field-error :deep(p) {
    color: $red-500;
}

.input-group {
    border-radius: 0.5rem;

    .form-control {
        background-color: $bw-grey-2;
        border-width: 1px;
    }

    .input-group-text,
    .form-control {
        border: 1px solid;
    }

    .input-group-text,
    .form-control {
        border-color: color.scale($color-text, $alpha: -50%);
    }

    &
        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        border-left-color: #00000000;
    }

    .input-group-text {
        font-weight: 700;
        color: $bw-grey-15;
        background-color: $bw-grey-4;
    }
}
