@use "../colors";
@use "sass:color";

.form {
    padding: 1rem 0.7rem;
    border-radius: 6pt;
    border: 1px solid color.scale($color-text, $alpha: -75%);

    font-size: 1rem;
    line-height: 1.5;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    min-width: 0;

    > ul {
        padding: 0;
        margin: 0;
    }

    > p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .btn {
        margin: 0.5rem 0;

        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }
    }
}

.form-fields {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
}

.form-before {
    margin-block-end: 1rem;
}

.form-after {
    margin-block-start: 1rem;
}

.field-label {
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1;

    &.modified {
        color: $yellow-300;
    }
}

.field-after {
    margin: 0.4rem 0 0;

    p {
        margin: 0;
        font-size: 0.8rem;
        letter-spacing: 0.01px;
    }
}

.field-hint p {
    color: $bw-grey-9;
}

.field-error p {
    color: $red-500;
}
