.d3-item-list {
    position: relative;
    display: inline-block;

    margin: 3px 0 6px;

    .token-container {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;

        font-size: 0.9rem;

        color: $color-text;

        padding: 4px 6px;

        > * {
            margin: 2px;
        }

        input[type="text"] {
            background-color: transparent;
            border: none;
            color: $color-text;
            padding: 2.5px 2px;
            margin: 2px 2px;
            flex: 1 1 50%;
        }
    }

    .dropdown {
        ul {
            width: 100%;
            max-height: 50vh;
            padding: 6pt;
            overflow-y: scroll;
            z-index: 1050;
        }

        li {
            padding: 4pt 8pt;
            margin: 0;
            border-radius: 0.25rem;

            font-weight: 600;
            font-size: 0.9rem;
            letter-spacing: -0.5px;

            &:hover,
            &:focus,
            &.item-selected {
                background-color: $bw-grey-6;
            }

            &:active {
                box-shadow: var(--box-shadow-focus-bright);
            }

            cursor: pointer;

            &.hidden {
                display: none;
            }
        }
    }

    .token-container {
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.d3-item,
.token {
    padding: 0.25em;
    line-height: 1;
}

.d3-item {
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
}

.d3-item-list {
    .input-group-text {
        min-width: 40px;
        justify-content: center;
        font-family: $monospace-fonts;
    }
}
