.key-value-pair {
    display: grid;

    grid-template-columns: 1fr 1fr;
    column-gap: 6pt;

    > * {
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.kvp-left {
        > * {
            justify-self: left;
        }
    }

    &.kvp-right {
        > * {
            justify-self: right;
        }
    }

    &.kvp-center {
        > * {
            justify-self: center;
        }
    }

    &.kvp-justify {
        > *:nth-child(odd) {
            justify-self: left;
        }
        > *:nth-child(even) {
            justify-self: right;
        }
    }

    &.kvp-axial {
        > *:nth-child(odd) {
            justify-self: right;
        }
        > *:nth-child(even) {
            justify-self: left;
        }
    }

    &.kvp-top {
        > * {
            align-self: start;
        }
    }

    &.kvp-middle {
        > * {
            align-self: center;
        }
    }

    &.kvp-bottom {
        > * {
            align-self: end;
        }
    }
}
