{% extends 'ts2/web/base.html' %}
{% load static elements manifest %}

{% block apps %}
<script defer src="{% manifest 'timezones.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% manifest 'timezones.css' %}">
{% endblock %}

{% block title %}Time & date - {{ discord.info.name|default:'server' }}{% endblock %}

{% block main_title %}Time & date{% endblock %}

{% block sections %}

{% csrf_token %}

{% section id='role-timezone' title='role timezones' classes='grid-span-all' %}
<div id="timezone-list"></div>
{% endsection %}

{% endblock %}