{% extends 'ts2/manage/base.html' %}
{% load static elements %}

{% block apps %}
<script defer src="{% static '/telescope2/timezones.bundle.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% static '/telescope2/timezones.css' %}">
{% endblock %}

{% block title %}Time & date - {{ discord.server.name|default:'server' }}{% endblock %}

{% block main_title %}Time & date{% endblock %}

{% block sections %}

{% csrf_token %}

{% section id='role-timezone' title='role timezones' classes='grid-span-all' %}
<div id="timezone-list" data-tzsrc="{% static 'ts2/discord/contrib/internet/tz.json' %}"></div>
{% endsection %}

{% endblock %}