@use "sass:color";

@import "colors";
@import "utilities";
@import "typefaces";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/accordion";

@import "styles";
@import "transitions";
@import "regions/index";
@import "components/index";

.main-title {
    margin: 0 0 2rem 0;
    letter-spacing: -2px;

    max-width: 100%;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
        height: 3.2rem;
        letter-spacing: -1.5px;
    }
}

.server-name {
    display: inline-block;

    position: relative;
    left: -0.7rem;
    padding: 0 0 0 0.6rem;

    overflow: visible;
    text-overflow: ellipsis;

    font-size: 2.5rem;
    font-weight: 750;
    line-height: 1;
}

.branding {
    display: inline-block;

    position: relative;
    font-size: 1.6rem;
    left: -1.06rem;

    margin: 0;
    padding: 0 0 0 0.6rem;

    color: $color-text;

    font-weight: 700;
    line-height: 1;

    border-left: 0.45rem solid #{$color-accent};
    letter-spacing: -1px;

    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        color: $color-text;
    }

    @media screen and (max-width: 1024px) {
        left: -1.3rem;
        padding: 0 0 0 0.9rem;
    }

    &.branding-large {
        font-size: 2.5rem;
        font-weight: 750;
        letter-spacing: -1.5px;
        border-left-width: 0.55rem;
        left: -1.16rem;
    }
}

.main-sidebar {
    .accordion-item {
        --item-distance: 0.5rem;

        @media screen and (max-width: 1024px) {
            span {
                font-size: 1.1rem;
            }
            --item-distance: 0.6rem;
        }

        border: none;
        background-color: transparent;

        @media screen and (min-width: 768px) {
            &:first-of-type .accordion-header {
                padding-top: 3rem;
            }
        }

        .accordion-button.collapsed {
            border-radius: 0;
        }

        .accordion-header,
        li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            letter-spacing: -0.5px;
            font-size: 1.1rem;
            line-height: 1rem;

            user-select: none;

            i.bi::before {
                font-size: 1.2rem;
                margin: 0 8pt 0 0;
                vertical-align: middle;
            }
        }

        .accordion-header {
            margin: 0;
            padding: 1rem 1rem 1rem 1.2rem;
            cursor: pointer;
            background-color: $bw-grey-2;
            box-shadow: $box-shadow-1;
            font-weight: 700;
        }

        .accordion-body {
            margin: 1rem 0;
            background-color: transparent;
            padding: var(--item-distance) 1rem var(--item-distance) 1.2rem;
        }

        li {
            padding: 0 0.5rem 0 0;
            margin: var(--item-distance) 0;

            &:first-child {
                margin-block-start: 0;
            }
            &:last-child {
                margin-block-end: 0;
            }
        }

        ul {
            margin: 0 0 0 0.9rem;
            padding: 0;
            display: flex;
            flex-flow: column nowrap;

            li {
                font-weight: 500;
                font-size: 0.95rem;
            }
        }

        a {
            color: $color-text;
        }

        .sidebar-active {
            color: #{$color-accent};

            a {
                color: #{$color-accent};
            }
        }
    }
}

#server-messages {
    display: none;
}

#modules {
    i.bi {
        margin-inline-end: 6px;
    }
}

#readonly-mode {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.175rem 0.5rem;
    text-align: center;
    user-select: none;
    background: repeating-linear-gradient(
            135deg,
            transparent,
            transparent 10px,
            rgba(0, 0, 0, 0.1) 10px,
            rgba(0, 0, 0, 0.1) 20px
        ),
        $yellow;
    color: black;
    box-shadow: $box-shadow-3;
}

.http-status code {
    position: relative;
    top: -2px;
}
