@use "sass:color";

@import "colors";
@import "utilities";
@import "typefaces";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/accordion";

@import "styles";
@import "transitions";
@import "regions/index";
@import "components/index";

.main-title {
    margin: 0 0 2rem 0;
    letter-spacing: -2px;

    max-width: 100%;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
        height: 3.2rem;
        letter-spacing: -1.5px;
    }
}

.server-name {
    display: inline-block;

    position: relative;
    left: -0.7rem;
    padding: 0 0 0 0.6rem;

    overflow-x: hidden;
    overflow-y: visible;
    text-overflow: ellipsis;
    height: 1.2em;

    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -2.4px;

    width: 100%;
}

.branding {
    display: inline-block;

    position: relative;
    font-size: 1.6rem;
    left: -1.06rem;

    margin: 0;
    padding: 0 0 0 0.6rem;

    color: $color-text;

    font-weight: 700;
    line-height: 1;

    border-left: 0.45rem solid #{$color-accent};
    letter-spacing: -1px;

    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        color: $color-text;
    }

    @media screen and (max-width: 1024px) {
        left: -1.3rem;
        padding: 0 0 0 0.9rem;
    }

    &.branding-large {
        font-size: 2.5rem;
        font-weight: 750;
        letter-spacing: -1.5px;
        border-left-width: 0.55rem;
        left: -1.16rem;
    }
}

#server-messages {
    display: none;
}

#modules {
    i.bi {
        margin-inline-end: 6px;
    }
}

#readonly-mode {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.175rem 0.5rem;
    text-align: center;
    user-select: none;
    background: repeating-linear-gradient(
            135deg,
            transparent,
            transparent 10px,
            rgba(0, 0, 0, 0.1) 10px,
            rgba(0, 0, 0, 0.1) 20px
        ),
        $yellow;
    color: black;
    box-shadow: $box-shadow-3;
}

.http-status code {
    position: relative;
    top: -2px;
}

#license {
    background-color: $bw-grey-13;

    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;

    .anchor {
        left: -2em;
        color: $bw-grey-13;
    }

    p {
        color: black;
        font-weight: 400;
        font-family: $sans-serif-fonts;
        line-height: 1.5;
        font-size: 1rem;
        margin: 0;
    }

    a {
        font-family: $sans-serif-fonts;
    }

    strong,
    em {
        color: black;
    }

    h3 {
        margin: 0;
        letter-spacing: -0.5px;
        color: black;
        font-family: $sans-serif-fonts;
    }

    .license-description {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .license-label {
        flex: 0 0 auto;

        img {
            height: 48px;
        }
    }

    .license-text {
        flex: 0 1 auto;
    }
}
