.list-move-enter-active,
.list-move-leave-active {
    transition: all 0.3s ease;
}

.list-move-enter-from,
.list-move-leave-to {
    opacity: 0;
    transform: translateY(-15px);
}

.list-move-move {
    transition: transform 0.3s ease;
}

.loading {
    > * {
        filter: opacity(0.3);
        pointer-events: none;
    }

    &::before {
        content: "Loading ...";
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 1rem;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
