$serif-fonts: "Merriweather", "Noto Serif", "Charter", "Georgia", serif;
$sans-serif-fonts: "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Noto Sans", "Ubuntu", "Open Sans",
    sans-serif;
$monospace-fonts: "Fira Code", "Inconsolata", "Consolas", "Ubuntu Mono", "Courier New", monospace;

$ui-fonts: "Inter", "Lato", $sans-serif-fonts;
$heading-fonts: "Zilla Slab", "Lato", $sans-serif-fonts;
