$serif-fonts: "Merriweather", "Noto Serif", "Charter", "Georgia", serif;
$sans-serif-fonts: "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Noto Sans", "Ubuntu", "Open Sans",
    sans-serif;
$monospace-fonts: "Fira Code", "Inconsolata", "Consolas", "Ubuntu Mono", "Courier New", monospace;

$ui-fonts: "Inter", "Lato", $sans-serif-fonts;
$heading-fonts: "Zilla Slab", "Lato", $sans-serif-fonts;

$chevron-down-svg-light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d3d3d9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
