@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "colors";

$utilities: (
    "color": (
        property: color,
        class: text,
        values: (
            accent: $color-accent,
            primary: $server-blurple,
            secondary: $secondary,
            success: $green,
            danger: $red,
            warning: $yellow,
            info: $info,
            light: $bw-grey-13,
            dark: $bw-grey-1,
            body: $color-text,
            muted: $color-text-muted,
            white: $white,
            black-50: rgba($black, 0.5),
            white-50: rgba($white, 0.5),
            reset: inherit,
            blue: $blue,
            indigo: $indigo,
            purple: $purple,
            pink: $pink,
            red: $red,
            orange: $orange,
            yellow: $yellow,
            green: $green,
            teal: $teal,
            cyan: $cyan,
        ),
    ),
);

@import "../../node_modules/bootstrap/scss/utilities/api";
