{% extends 'telescope2/commons/article.html' %}

{% block title %}Invalid login{% endblock %}

{% block article %}
<h1><span class="text-danger">Invalid login attempt</span></h1>

{% if login_state == 'expired' %}

<p>Your login credentials is expired because you spent too much time logging in through Discord.
    You can <a href="{% url 'web:index' %}">return to homepage and try again</a>.</p>

{% elif login_state == 'incorrect_credentials' %}

<p>Could not authenticate with Discord. You can <a href="{% url 'web:index' %}">return to homepage and try again</a>.
</p>

{% else %}

<p>If you did not intend to visit <code>{{ current_domain }}</code>, an attacker may be attempting
    to gain information about your Discord account (likely through a link you clicked before logging in on Discord).</p>

{% endif %}
{% endblock %}