{% extends 'ts2/web/base.html' %}
{% load elements static manifest %}

{% block apps %}
<script defer src="{% manifest 'acl.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% manifest 'acl.css' %}">
{% endblock %}

{% block title %}Access control - {{ discord.info.name|default:'server' }}{% endblock %}

{% block main_title %}Command access control{% endblock %}

{% block sections %}
{% csrf_token %}

<div class="paragraph">
    <p class="large-icon"><span><i class="bi bi-person-check-fill"></i></span></p>
    <p><strong>Define rules on who can use which commands in a certain channel.</strong></p>
    <p>Every time a member invokes a command, the bot finds all rules matching the command, channel, and the member's
        roles.</p>
    <p>Rules are checked in the order of how specific they are. If at least one of all the rules on the same specificity
        level allows the command, the command will run.</p>
</div>

{% section id='acl-inspector' title='inspector' classes='grid-span-2' %}
<div id="acl-app"></div>
<div id="acl-inspect"></div>
{% endsection %}

{% section id='acl-editor' title='access control rules' classes='grid-span-all' %}
<div id="acl-list"></div>
{% endsection %}

{% endblock %}