{% extends 'ts2/manage/base.html' %}
{% load static inspect elements %}

{% block apps %}
<script defer src="{% static '/telescope2/core.bundle.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% static '/telescope2/core.css' %}">
{% endblock %}

{% block title %}Core settings - {{ discord.server.name|default:'server' }}{% endblock %}

{% block main_title %}Core settings{% endblock %}

{% block sections %}

{% csrf_token %}

{% section id='global' title='global' %}

<div id="global-settings" data-prefix="{{ discord.server.prefix }}">
</div>

{% endsection %}

{% section id='extensions' title='modules' classes='grid-span-2' %}

<div id="extension-settings">
</div>

<div id="extension-state" class="d-none">
    {% for ext_id, label, enabled in extensions %}
    <span class="extension-label" data-id="{{ ext_id }}" {% if enabled %} data-enabled="true"
        {% endif %}>{{ label|safe }}</span>
    {% endfor %}
</div>

{% endsection %}

{% if user_superuser or access_control %}

{% section id='server-access' title='access control' %}

<div class="form">
    <a href="{% url 'web:leave' guild_id=discord.server_id %}" class="btn btn-outline-danger">
        Remove bot from server</a>
</div>

{% endsection %}

{% endif %}

{% if user_superuser or access_control %}
{% section id='server-debug' title='debug' %}

<div class="form">
    <a href="#" id="sync-models" class="btn btn-outline-warning btn-submit">Synchronize models</a>
    <a href="{% url 'web:reset' guild_id=discord.server_id %}" class="btn btn-outline-danger">
        Reset server settings
    </a>
</div>

{% endsection %}
{% endif %}

{% endblock %}