{% extends 'ts2/web/base.html' %}
{% load inspect elements static %}

{% block apps %}
<script defer src="{% static '/telescope2/logging.bundle.js' %}"></script>
{% endblock %}

{% block app_styles %}
<link rel="stylesheet" href="{% static '/telescope2/logging.css' %}">
{% endblock %}

{% block title %}Logging - {{ discord.info.name|default:'server' }}{% endblock %}

{% block main_title %}Logging{% endblock %}

{% block sections %}

{% section id='logging' title='event dispatcher' classes='grid-span-all' %}
<div id="logging-config"></div>
<div class="d-none">
    {% csrf_token %}
    {% for key, name, superuser in logging_conf %}
    <span class="logging-conf" data-key="{{ key }}" data-name="{{ name }}" {% if superuser %} data-superuser="true"
        {% endif %}></span>
    {% endfor %}
</div>
{% endsection %}

{% endblock %}