{% extends 'telescope2/web/manage/base.html' %}
{% load inspect element async_form discord_list %}

{% block main_title %}Command constraints{% endblock %}

{% block sections %}

<div class="paragraph">
    <p class="large-icon"><span><i class="bi bi-person-check-fill"></i></span></p>
    <p><strong>Define constraints on who can use which commands in a certain channel.</strong></p>
    <p>Every time a member invokes
        a command, the bot finds all constraints applied to that command in the channel. Each constraint defines some
        requirements about the member's roles.</p>
    <p>If <strong>all</strong> constraints for that command are satisfied,
        the command will run.</p>
</div>

{% section id='constraint-inspector' title='previewer' classes='grid-span-2' %}
<div class="form command-constraint-form">
    <h4>Test out command constraints before saving them:</h4>
    <form action="{% url 'web:api.bot.constraint_test' %}">
        <ul>
            <li><label>Member with roles:</label>
                {% d3itemlist 'discord:roles' 'multiple' classes='role-list' placeholder='role names...' %}
                <span class="input-group-text">@</span>
                {% enditemlist %}
            </li>
            <li><label>Using command:</label>
                {% d3itemlist 'bot:commands' 'single' classes='command-list' placeholder='select command' %}
                <span class="input-group-text">?</span>
                {% enditemlist %}
            </li>
            <li><label>In channel:</label>
                {% d3itemlist 'discord:channels' 'single' classes='channel-list' placeholder='select channel' %}
                <span class="input-group-text">#</span>
                {% enditemlist %}
            </li>
            <li>
                <span class="test">
                    <button type="button" class="btn btn-outline-primary btn-submit">Test</button>
                    <h4 class="test-result"></h4>
                </span>
            </li>
        </ul>
    </form>
</div>
{% endsection %}

{% section id='constraint-editor' title='edit constraints' classes='grid-span-all' %}
<template id="template-cmd-constraint">
    {% include 'telescope2/web/elements/command-constraint.html' %}
</template>
<div class="actions paragraph">
    <button id="constraint-form-new" type="button" class="btn btn-success async-form-submit">Create constraint</button>
    <button id="constraint-form-submit" type="button" class="btn btn-primary async-form-submit">Save all</button>
</div>
<div id="constraint-form-list" class="constraint-form-list paragraph accordion"
    data-src="{% url 'web:api.guild.core.constraints' guild_id=discord.server_id %}">
    <form>{% csrf_token %}</form>
</div>
{% endsection %}

{% endblock %}