{% extends 'telescope2/web/manage/base.html' %}
{% load inspect element builtins %}

{% block main_title %}
<span class="bot-name">{{ branding_full }}</span>
{% endblock %}

{% block sections %}

{% if not discord.server_joined %}
{% section id='server-access' title='access' %}
<form action="{% url 'web:join' %}" method="POST">
    <input type="hidden" name="guild_id" id="guild-id" value="{{ discord.current.id }}">
    {% csrf_token %}
    <button class="btn btn-info" type="submit">Join server</button>
</form>
{% endsection %}
{% endif %}

{% if discord.prefs %}
{% with server=discord.prefs %}

{% section id='general' title='general' %}
<div class="key-value-pair kvp-justify">
    <span>server name</span><span class="text-info">{{ discord.current.name }}</span>
    <span>server id</span><span class="text-info"><code>{{ server.snowflake }}</code></span>
</div>
{% endsection %}

{% section id='commands' title='commands' %}
<div class="key-value-pair kvp-justify">
    <span>command prefix</span><span class="text-info"><code>{{ server.prefix }}</code></span>
</div>
{% endsection %}

{% section id='modules' title='modules' %}
<div class="key-value-pair kvp-justify interactive-text">
    {% for ext_label, ext_state in discord.extension_state.items %}
    {% with ext_name=ext_state|item:1|attr:'title' ext_state=ext_state|item:0 %}
    <span>{{ ext_name }}</span><span
        class="{{ ext_state|yesno:'text-on,text-off' }}">{{ ext_state|yesno:'Enabled,Disabled' }}</span>
    {% endwith %}
    {% empty %}
    <span>(No extensions found. Hmmmm...)</span>
    {% endfor %}
</div>
{% endsection %}

{% endwith %}
{% endif %}
{% endblock %}