{% extends 'telescope2/commons/article.html' %}

{% block title %}Removing bot from server{% endblock %}

{% block article %}
<h1><span class="text-warning">Leaving <em>{{ discord.info.name }}</em></span></h1>

<p>You are about to remove the bot from {{ discord.info.name }}</p>

<p class="text-danger">All settings for this server will be permanently deleted.</p>

<form method="POST">
    <input type="hidden" name="guild_id" id="guild-id" value="{{ discord.server_id }}">
    {% csrf_token %}
    <span class="token-list">
        <button class="btn btn-outline-danger" type="submit">confirm</button>
        <a href="{% url 'web:manage.index' guild_id=discord.server_id %}" class="btn btn-outline-light">cancel</a>
    </span>
</form>

{% endblock %}