{% extends 'telescope2/commons/article.html' %}

{% block title %}Resetting {{ discord.info.name }} ...{% endblock %}

{% block article %}
<h1><span class="text-warning">Resetting <em>{{ discord.info.name }}</em></span></h1>

<p>You are about to reset all settings for {{ discord.info.name }}.</p>

<p class="text-danger">All settings for this server will be permanently deleted.</p>

<p class="text-info">The bot will remain in your server. You can start a new server profile by "joining" the server
    again.</p>

<form method="POST">
    <input type="hidden" name="guild_id" id="guild-id" value="{{ discord.server_id }}">
    {% csrf_token %}
    <span class="token-list">
        <button class="btn btn-outline-danger" type="submit">confirm</button>
        <a href="{% url 'web:manage.core' guild_id=discord.server_id %}" class="btn btn-outline-light">cancel</a>
    </span>
</form>

{% endblock %}