@use '../colors';
@use '../typefaces';

$chat-cherry-dimmed: adjust-color(colors.$chat-cherry, $saturation: -50%, $lightness: -20%);

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #{colors.$chat-marine-darkest};
        --primary-fg: #{colors.$color-text};

        --secondary: #{colors.$grey-2};
        --accent: #{colors.$district-sky};

        --header-color: #{colors.$chat-muted-blush};
        --header-branding-color: var(--accent);
        --header-bg: var(--secondary);
        --header-link-color: var(--primary-fg);
        --breadcrumbs-fg: var(--header-color);

        --button-fg: var(--primary-fg);
        --button-bg: var(--primary);
        --button-hover-bg: #{colors.$chat-marine};
        --default-button-bg: #{colors.$chat-purple-7};
        --default-button-hover-bg: #{colors.$chat-purple-9};

        --body-fg: var(--primary-fg);
        --body-bg: #{colors.$color-bg};
        --body-quiet-color: #{colors.$grey-10};
        --body-loud-color: #{colors.$grey-15};

        --breadcrumbs-link-fg: var(--body-quiet-color);
        --breadcrumbs-bg: var(--primary);

        --link-fg: #{colors.$chat-muted-sky};
        --link-hover-color: #{colors.$chat-purple-10};
        --link-selected-fg: #{colors.$chat-purple-12};

        --hairline-color: #d3d3d316;
        --border-color: #353535;

        --error-fg: var(--body-bg);
        --message-success-bg: #{colors.$bs-green};
        --message-warning-bg: #{colors.$bs-yellow};
        --message-error-bg: #{colors.$bs-red};

        --darkened-bg: #{colors.$grey-1};
        --selected-bg: #{colors.$grey-4};
        --selected-row: #{colors.$grey-3};

        --close-button-bg: #333333;
        --close-button-hover-bg: #666666;
        --delete-button-bg: #{$chat-cherry-dimmed};
        --delete-button-hover-bg: #{colors.$chat-cherry};
        --object-tools-fg: var(--button-fg);
        --object-tools-bg: var(--close-button-bg);
        --object-tools-hover-bg: var(--close-button-hover-bg);
    }
}

* {
    box-sizing: border-box;
}

#branding h1 {
    position: relative;
    left: -1.06rem;

    margin: .4rem 0;
    padding: 0 0 0 .6rem;

    font-family: typefaces.$ui-fonts;

    font-weight: 700;
    border-left: .45rem solid;
    letter-spacing: -1px;
    line-height: 1;

    font-size: 1.6rem;
}

.login #header {
    justify-content: unset;

    h1 {
        font-size: 20px;
        padding: 0 0 0 0.8rem;
    }
}

body,
input,
textarea,
select,
option,
.form-row p,
form .button {
    font-family: typefaces.$ui-fonts;
}

.form-row label,
#nav-sidebar tr a,
#content-main .module tr a {
    text-transform: lowercase;
}

textarea {
    height: 4rem;
}

td,
th {
    vertical-align: middle;
}

select {
    appearance: none;
}

.errornote,
.errorlist,
tr:nth-child(2n) .errorlist,
tr:nth-child(2n+1)+.row-form-errors .errorlist {
    background-color: var(--message-error-bg);
}

.form-row {
    &>div {
        display: flex;
        flex-flow: row nowrap;

        label {
            flex-shrink: 0;
        }

        textarea,
        div.readonly {
            width: 100% !important;
        }
    }

    &>.checkbox-row {
        display: block;
    }
}

.related-widget-wrapper {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &>a {
        margin-left: 6px;
    }

    &>.select2-container {
        width: 100% !important;
    }
}

.admin-file-preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    width: 100%;
    height: auto;
    max-height: 480px;

    audio,
    object,
    video {
        flex: 1 0 80%;
        width: 80%;
    }
}

.aligned label {

    &+p,
    &+div.help,
    &+div.readonly {
        margin-left: unset;
    }
}

ul.messagelist {
    li.warning {
        color: var(--body-bg),
    }
}

option,
optgroup {
    font-weight: 500;
    font-style: normal;
}

.results textarea {

    &.vLargeTextField,
    &.vXMLLargeTextField {
        width: 100%;
    }

    height: 3rem;
}

#toolbar {
    margin-bottom: 0;

    #searchbar {
        height: 100%;
        padding: 4px 8px;
        vertical-align: middle;
    }
}

#changelist {
    flex-flow: column-reverse nowrap;

    .changelist-form-container {
        width: 100%;
    }

    #changelist-filter {
        width: 100%;
        flex: 1 0 auto;
        margin: 0 0 10px 0;
    }
}

.inline-group .tabular {
    tr.has_original td {
        padding-top: 8px;
    }

    td.original p {
        display: none;
    }
}

.submit-row a.submit-row-link {
    display: inline-block;
    height: 100%;

    background: var(--button-bg);
    color: var(--button-fg);
    border-radius: 4px;

    margin: 0 0 0 5px;
    padding: 10px 15px;
    line-height: 15px;
}

#changelist-filter {
    position: relative;

    #changelist-filter-clear {
        position: absolute;
        right: 0;
        display: block;
        top: -0.15rem;
        text-align: right;
        padding-inline-end: .7rem;

        a {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .changelist-filter-container {
        display: flex;
        flex-flow: row nowrap;

        max-height: 10rem;
        overflow-x: scroll;
        overflow-y: hidden;

        margin-bottom: 10px;
    }

    .changelist-filter {
        position: relative;
        overflow-y: scroll;

        flex: 1 0 12rem;

        width: 12rem;
        border-left: 1px solid var(--hairline-color);

        h3 {
            position: sticky;
            top: 0;

            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 10px;

            background-color: var(--darkened-bg);
        }

        ul {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.section {
    padding: 1rem 0;
    border-bottom: 1px solid var(--hairline-color);

    &:last-of-type {
        border-bottom: none;
    }
}

.submit-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    >div {
        display: flex;
        flex-flow: row nowrap;
    }
}

.submit-row-nav-button {
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align: middle;
}