@use '../colors.scss';
@use '../typefaces.scss';

.form-label {
    flex: 1 0 100%;
    font-weight: 700;
    margin-bottom: .5rem;
}

h1 {
    margin: 1rem 0 .5rem;
}

#importer-form-container {
    form {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        &>div {
            flex: 1 0 100%;
            margin: 0 0 .5rem 0;

            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
        }

        label[for="importer-path"] {
            flex: 1 0 100%;
        }

        #importer-path,
        #importer-extensions {
            flex: 1 0 auto;
            font-family: typefaces.$monospace-fonts;
        }

        #importer-path {

            height: 3rem;
            padding: 0 1rem;
            margin-right: .5rem;

            font-size: 1.2rem;
            font-weight: 700;
        }

        #importer-scan.color-danger-bg {
            background-color: colors.$bs-red;
        }

        #importer-submit {
            height: 2.4rem;
        }
    }
}

#import-candidates {
    display: flex;
    flex-flow: column nowrap;

    margin-bottom: 1rem;

    .import-candidate {
        flex: 1 0 100%;

        display: flex;
        flex-flow: column nowrap;
    }

    .row:not(.hidden) {
        flex: 1 0 100%;
        display: flex;
        align-items: baseline;
    }

    .import-candidate-check {
        position: relative;
        top: 2px;

        flex: 0 0 14px;

        margin: .5rem .5rem .5rem 0;
        width: 14px;
        height: 14px;
    }

    .import-preview-toggle {
        margin: 0 .5rem 0 0;
    }

    label {
        font-family: typefaces.$monospace-fonts;
        font-weight: 600;

        cursor: pointer;
    }
}