@mixin sidebar-offcanvas {
    position: fixed;
    z-index: 1000;

    height: calc(100vh - var(--masthead-height));

    overflow-x: hidden;
    overflow-y: scroll;

    .sidebar-content {
        position: static;
    }

    display: flex;
    flex-direction: column;

    padding: 1rem 0;
    background-color: $bw-grey-1;
}

@mixin sidebar-offcanvas-from-top {
    transition: top 0.35s cubic-bezier(0.09, 1.07, 0.26, 1);

    right: 0;
    left: 0;
    top: -100vh;

    &.sidebar-visible {
        top: var(--masthead-height);
    }
}

@mixin sidebar-offcanvas-from-left {
    transition: left 0.35s cubic-bezier(0.09, 1.07, 0.26, 1);

    width: var(--sidebar-width);
    left: calc(-1 * var(--sidebar-width));

    &.sidebar-visible {
        left: 0;
    }
}
