.fixed-overlay {
    position: fixed;
    top: var(--masthead-height);
    right: 0;
    bottom: 0;
    overflow-x: visible;
    overflow-y: visible;
    z-index: 1000;

    padding: 1.5rem var(--masthead-space-horizontal) 0 0;

    @media screen and (max-width: $display-width-medium) {
        padding: 1rem var(--masthead-space-horizontal);
    }
}
