.feature-type {
    display: inline-block;

    font-size: 0.9rem;
    font-weight: 500;
    color: $bw-grey-8;
    line-height: 1;

    margin-inline-start: 0.3rem;

    &.type-special {
        color: $orange;
    }

    &.type-command {
        $font-color: $pink;
        color: $font-color;
    }

    &.type-infrastructure {
        $font-color: $yellow;
        color: $font-color;
    }

    &.type-system {
        $font-color: $blue;
        color: $font-color;
    }

    &.type-integration {
        $font-color: $purple;
        color: $font-color;
    }

    &.type-doc,
    &.type-qol {
        $font-color: $indigo;
        color: $font-color;
    }

    &.type-web {
        $font-color: $teal;
        color: $font-color;
    }
}

.feature-status {
    display: inline-block;

    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1;

    .status {
        padding: 3px 6px;
        border-radius: 3px;
        border-left: solid;

        &.status-01-PL {
            $blue_: adjust-color(
                $color: $blue,
                $saturation: -30%,
            );
            background-color: change-color($color: $blue_, $alpha: 0.1);
            color: $blue_;
            border-color: $blue_;
        }

        &.status-02-PR {
            background-color: change-color($color: $cyan, $alpha: 0.1);
            color: $cyan;
            border-color: $cyan;
        }

        &.status-03-PS {
            background-color: change-color($color: $yellow-600, $alpha: 0.1);
            color: $yellow-600;
            border-color: $yellow-600;
        }

        &.status-04-RC {
            background-color: adjust-color($color: change-color($color: $teal, $alpha: 0.1), $saturation: 50%);
            color: $teal;
            border-color: $teal;
        }

        &.status-05-FN {
            background-color: change-color($color: $pink, $alpha: 0.1);
            color: $pink;
            border-color: $pink;
        }

        &.status-30-NO {
            background-color: change-color($color: $red, $alpha: 0.1);
            color: $red;
            border-color: $red;
        }
        &.status-31-NA,
        &.status-33-ST {
            background-color: change-color($color: $gray-700, $alpha: 0.1);
            color: $gray-700;
            border-color: $gray-700;
        }

        &.status-20-SP {
            background-color: change-color($color: $indigo-400, $alpha: 0.1);
            color: $indigo-400;
            border-color: $indigo-400;
        }

        &.status-32-RM {
            background-color: change-color($color: $orange, $alpha: 0.1);
            color: $orange;
            border-color: $orange;
        }

        &.status-10-SU {
            background-color: change-color($color: $green-400, $alpha: 0.1);
            color: $green-400;
            border-color: $green-400;
        }
    }
}

.feature-link {
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
}
