@use "sass:color";

@import "../../styles/colors";
@import "../../styles/typefaces";
@import "./features";

.feature-grid {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    padding: 0;
    gap: 0.2rem;

    @media screen and (max-width: 768px) {
        gap: 1rem;
    }

    .feature-item {
        position: relative;

        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        align-items: center;
        padding: 0.2rem;

        @media screen and (max-width: 768px) {
            flex-flow: row-reverse nowrap;
            align-items: center;
            gap: 0.2rem;
        }

        &:hover {
            background-color: change-color($color: $yellow, $alpha: 0.1);

            .feature-type {
                opacity: 1;
            }
        }

        &.highlighted {
            @keyframes highlight-anim {
                from {
                    background-color: change-color($color: $yellow, $alpha: 0.5);
                }
                35% {
                    background-color: change-color($color: $yellow, $alpha: 0.5);
                }
                to {
                    background-color: transparent;
                }
            }
            animation: 2s ease-out normal 0s none 1 highlight-anim;
        }
    }

    .feature-content {
        flex: 1 1 auto;
        letter-spacing: -0.01px;
        font-size: 0.95rem;
    }

    .feature-type {
        width: 8rem;
        opacity: 0.7;
    }

    .feature-status {
        width: 7.5rem;
        @media screen and (max-width: 768px) {
            text-align: right;
        }    
    }
}
