{% load inspect static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block meta_security %}
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com https://cdn.jsdelivr.net; script-src 'self' https://cdn.jsdelivr.net https://cdnjs.cloudflare.com; worker-src 'self' blob:; child-src 'self' blob:">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    {% endblock %}

    <title>{% block title %}{% basefilename %}{% endblock %} | telescope2</title>

    {% block styles %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://code.jquery.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static '/bundle/styles/index.css' %}">
    {% endblock %}

    {% block scripts %}
    <script src="{% static '/bundle/scripts/app/preamble.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
        integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous"></script>
    <script src="{% static '/bundle/scripts/app/index.js' %}"></script>
    {% endblock %}
</head>

<body>
    <div class="masthead-container">
        {% include 'commons/masthead.html' %}
    </div>
    <div class="top-container">
        {% block top %}
        {% endblock %}
    </div>
    <div class="main-container">
        {% block body %}
        {% endblock %}
    </div>
    <div>
    </div>
    <div class="footer-container">
        {% include 'commons/footer.html' %}
    </div>
    <div class="fixed-overlay"></div>
</body>

</html>