{% load inspect pathfinding %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block meta_security %}
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com https://cdn.jsdelivr.net; connect-src 'self' https://discord.com; script-src 'self' https://cdn.jsdelivr.net https://cdnjs.cloudflare.com; worker-src 'self' blob:; child-src 'self' blob:; img-src 'self' https://cdn.discordapp.com data:">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    {% endblock %}

    <title>{% block title %}{% basefilename %}{% endblock %} | {{ branding_full }}</title>

    {% block styles %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://code.jquery.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&family=Inter:wght@100;300;400;500;600;700;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static '/bundle/styles/index.css' %}">
    {% endblock %}

    {% block scripts %}
    <script src="{% static '/bundle/scripts/app/preamble.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
        integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg=="
        crossorigin="anonymous"></script>
    <script src="{% static '/bundle/scripts/app/index.js' %}" id="script-entry" data-server="{% staticserver %}">
    </script>
    {% endblock %}
</head>

<body data-viewname="{% viewname %}">
    <section class="masthead-container">
        {% include 'commons/masthead.html' %}
    </section>
    <section class="top-container">
        {% block top %}
        {% endblock %}
    </section>
    <section class="main-container">
        <aside class="main-sidebar accordion accordion-flush" id="sidebar">
            {% include 'commons/sidebar.html' %}
        </aside>
        {% block body %}
        {% endblock %}
    </section>
    <section class="footer-container">
        {% include 'commons/footer.html' %}
    </section>
    <div id="template-container">
        {% include 'commons/templates.html' %}
    </div>
    <div id="toast-container" class="fixed-overlay toast-container" aria-live="polite" aria-atomic="true">
    </div>
</body>

</html>