<nav id="masthead">
    <section id="branding">
        <header>
            <h1 id="site-name" class="bot-name">
                <a href="{% url 'web.index' %}">{{ branding_short }}</a>
            </h1>
        </header>
    </section>
    <section id="auth-control" class="auth-control masthead-opt-group align-middle">
        {% include 'elements/identities.html' %}
    </section>
    <section id="top-menu-toggle">
        <span class="interactive-text align-middle">
            {% if user_authenticated %}
            <span class="identity-control">
                {% if discord.server %}
                <figure class="profile-picture guild-profile">
                    <img src="{{ discord.server.icon_url }}" class="rounded-circle" alt="icon for server {{ discord.server.name }}">
                </figure>
                {% endif %}
                <figure class="profile-picture user-profile">
                </figure>
            </span>
            {% endif %}
            <span class="top-menu">
                <i class="bi bi-list"></i>
            </span>
        </span>
    </section>
</nav>