<nav id="masthead">
    <section id="branding">
        <header>
            <h1 id="site-name" class="bot-name">
                <a href="{% url 'web.index' %}">{{ branding_short }}</a>
            </h1>
        </header>
    </section>
    <section id="auth-control" class="masthead-opt-group align-middle">
        {% if authenticated %}
        <div id="server-select" class="nav-control interactive-text align-middle">
            <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown">
                    <div id="server-select" class="align-middle">
                        <span>Select server</span> <i class="bi bi-chevron-down"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-start">
                </ul>
            </div>
        </div>
        {% endif %}
        <div id="discord-login" class="nav-control interactive-text align-middle">
            {% if authenticated %}
            <div class="dropdown">
                <a class="login-control" href="#" data-bs-toggle="dropdown">
                    <figure class="profile-picture">
                    </figure>
                    <div id="user-info" data-access-token="{{ access_token }}" class="align-middle">
                        <span>{{ username }}</span> <i class="bi bi-chevron-down"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="{% url 'web.logout' %}" class="dropdown-item">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'web.login' %}"><i class="bi bi-discord"></i> <span>Login via Discord</span></a>
            {% endif %}
        </div>
    </section>
</nav>