{% load element %}

<section class="auth-control">
    {% include 'elements/identities.html' %}
</section>

{% if user_authenticated and discord.current %}

<div class="accordion-item">
    <h2 class="accordion-header" id="view-home">
        {% sidebarlink 'web:manage.index' 'Home' 'house-fill' %}
    </h2>
</div>

{% if discord.server_joined %}

{% chapter 'view-core' name='Core' icon='gear-wide-connected' %}
<li>{% sidebarlink 'web:manage.core' 'Core settings' 'gear-fill' %}</li>
{% endchapter %}

{% endif %}
{% endif %}