{% load element %}

<section class="auth-control">
    {% include 'elements/identities.html' %}
</section>

{% if user_authenticated and discord.current %}

<div class="accordion-item">
    <h2 class="accordion-header" id="view-home">
        {% sidebarlink 'house-fill' 'web:manage.index' 'Home' %}
    </h2>
</div>

{% if discord.server_joined %}

{% chapter 'view-core' 'Core' 'gear-wide-connected' using mark_active %}
<li>{% sidebarlink 'gear-fill' 'web:manage.core' 'Core settings' %}</li>
{% endchapter %}

{% endif %}
{% endif %}