{% if user_authenticated %}
<div id="server-select" class="nav-control interactive-text align-middle">
    <div class="dropdown">
        <a class="guild-control identity-control" href="#" data-bs-toggle="dropdown">
            {% if discord.current %}
            <figure class="profile-picture guild-profile">
                <img src="{{ discord.current.icon_url }}" class="rounded-circle"
                    alt="icon for server {{ discord.current.name }}">
            </figure>
            {% endif %}
            <div id="server-select" class="align-middle">
                {% if discord.current %}<span>{{ discord.current.name }}</span>{% else %}<span>Select
                    server</span>{% endif %} <i class="bi bi-chevron-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <h6 class="dropdown-header">Joined servers</h6>
            </li>
            {% for guild in discord.joined_servers.values %}
            <li><a href="{% url 'web:manage.index' guild_id=guild.id %}" class="dropdown-item">{{ guild.name }}</a></li>
            {% empty %}
            <li><a href="#" class="dropdown-item disabled">(no server joined)</a></li>
            {% endfor %}
            <li>
                <h6 class="dropdown-header">Available servers</h6>
            </li>
            {% for guild in discord.available_servers.values %}
            <li><a href="{% url 'web:manage.index' guild_id=guild.id %}" class="dropdown-item">{{ guild.name }}</a></li>
            {% empty %}
            <li><a href="#" class="dropdown-item disabled">(no server available)</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div id="discord-login" class="nav-control interactive-text align-middle">
    {% if user_authenticated %}
    <div class="dropdown">
        <a class="login-control identity-control" href="#" data-bs-toggle="dropdown">
            <figure class="profile-picture user-profile">
                <img src="{{ discord.user_profile.icon_url }}" class="rounded-circle"
                    alt="icon for user {{ discord.username }}">
            </figure>
            <div id="user-info" data-access-token="{{ discord.access_token }}" class="align-middle">
                <span>{{ discord.username }}</span> <i class="bi bi-chevron-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="{% url 'web:logout' %}" class="dropdown-item">Logout</a></li>
        </ul>
    </div>
    {% else %}
    <a href="{% url 'web:login' %}"><i class="bi bi-discord"></i> <span>Login via Discord</span></a>
    {% endif %}
</div>