{% extends 'web/manage/base.html' %}
{% load inspect element async_form %}

{% block main_title %}Core settings{% endblock %}

{% block sections %}

{% section id='global' title='global' %}

{% asyncform discord.forms.prefix id='global-settings' %}
<ul>{{ discord.forms.prefix.as_ul }}</ul>
{% csrf_token %}
<p>Example command: <code><span class="data-command-prefix"></span>echo</code></p>
{% asyncsubmit 'Save' 'primary' 'mt-3 mb-1 w-100' %}
{% endform %}

{% endsection %}

{% section id='server-access' title='access' %}
<a href="{% url 'web:leave' guild_id=discord.current.id %}" class="btn btn-outline-danger">Leave server</a>
{% endsection %}

{% endblock %}