{% extends 'web/manage/base.html' %}
{% load inspect element %}

{% block main_title %}
<span class="bot-name">{{ branding_full }}</span>
{% endblock %}

{% block sections %}

{% if not discord.bot_in_server %}
{% section id='server-access' title='access' %}
<form action="{% url 'web.join' %}" method="POST">
    <input type="hidden" name="guild_id" id="guild-id" value="{{ discord.server.id }}">
    {% csrf_token %}
    <button class="btn btn-info" type="submit">join server</button>
</form>
{% endsection %}
{% endif %}

{% if discord.prefs %}
{% with server=discord.prefs %}

{% section id='general' title='general' %}
<div class="key-value-pair kvp-justify">
    <span>server name</span><span class="text-info">{{ discord.server.name }}</span>
    <span>server id</span><span class="text-info"><code>{{ server.gid }}</code></span>
</div>
{% endsection %}

{% section id='commands' title='commands' %}
<div class="key-value-pair kvp-justify">
    <span>command prefix</span><span class="text-info"><code>{{ server.prefix }}</code></span>
</div>
{% endsection %}

{% section id='modules' title='modules' %}
{% endsection %}

{% endwith %}
{% endif %}
{% endblock %}