{% extends 'web/manage/base.html' %}
{% load inspect element %}

{% block main_title %}
<span class="bot-name">{{ branding_full }}</span>
{% endblock %}

{% block sections %}
{% if discord.prefs %}
{% with server=discord.prefs %}

{% section id='general' title='general' %}
<div class="key-value-pair kvp-justify">
    <span>server id</span><span class="text-info"><code>{{ server.gid }}</code></span>
    <span>command prefix</span><span class="text-info"><code>{{ server.prefix }}</code></span>
</div>
{% endsection %}

{% endwith %}
{% endif %}
{% endblock %}