{% extends 'ts2/commons/article.html' %}

{% block title %}About{% endblock %}

{% block article %}
<header>
    <h1 class="branding branding-large">{{ BRANDING_FULL }}</h1>
</header>

<blockquote>Yet another Discord bot for the Doug District.</blockquote>

<h1>License</h1>
<p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. <em>Modi fuga molestias,</em> quae
    aspernatur dolorum, ad <a href="https://www.google.com">maxime</a>
    <mark>voluptatibus quam excepturi quo possimus</mark> cupiditate <code>repellendus dolore libero</code> accusamus
    dicta, <s>sapiente animi alias!</s>
</p>
<h2>License</h2>
<p><span class="text-primary">Lorem ipsum</span> <span class="text-secondary">dolor sit</span> <span
        class="text-success">amet consectetur</span>
    <span class="text-danger">adipisicing elit.</span> <span class="text-warning">Impedit, vero cumque</span> <span
        class="text-info">quisquam, laborum</span> nobis quidem
    obcaecati numquam ipsam eum blanditiis soluta amet facilis facere cupiditate dolorum. Laborum animi quia blanditiis!
</p>
<h3>License</h3>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<h4>License</h4>
<h5>License</h5>
<h6>License</h6>
{% endblock %}