@import "./colors";

@mixin button {
    --_button-color: #{$bw-grey-5};
    --_button-color-text: #{$bw-grey-13};
    --_button-color-highlight: #{$bw-grey-6};
    --_button-color-text-highlight: #{$bw-grey-13};

    background-color: var(--_button-color);
    border-color: var(--_button-color);
    color: var(--_button-color-text);

    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border-width: 0;

    &:hover,
    &:focus {
        background-color: var(--_button-color-highlight);
        border-color: var(--_button-color-highlight);
        color: var(--_button-color-text-highlight);
    }

    > span {
        display: inline-block;
        white-space: nowrap;
        margin: 0 0.25rem;

        &:first-child {
            margin-left: 0.1rem;
        }

        &:last-child {
            margin-right: 0.1rem;
        }
    }

    > span {
        font-weight: 600;
    }

    svg {
        vertical-align: middle;
        width: 18px;
    }
}

@mixin button-primary() {
    @include button();

    --_button-color: var(--button-color, var(--accent-color, #{$bw-grey-5}));
    --_button-color-text: var(--button-color-text, #{$bw-grey-11});
    --_button-color-highlight: var(--button-color-highlight, var(--_button-color));
    --_button-color-text-highlight: var(--button-color-text-highlight, var(--_button-color-text));
}

@mixin button-text() {
    @include button();

    --_button-color: #{$color-text};
    --_button-color-text: #{$color-bg};
}

@mixin button-secondary-1() {
    @include button();

    --_button-color: #{$bw-grey-4};
    --_button-color-highlight: #{$bw-grey-8};
}

@mixin button-inverse($color) {
    @include button();

    --_button-color: #00000000;
    --_button-color-text: #{$color};

    border: 2px solid var(--_button-color-text);
    outline-color: #00000000;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
        @content;
        border-color: var(--_button-color-highlight);
    }
}

@mixin button-dual() {
    justify-content: space-between;

    &:hover,
    &:focus {
        > ._initial {
            display: none;
        }

        > ._revealed {
            display: initial;
        }
    }

    > ._revealed {
        display: none;
    }
}
