@import "../../vendor/bootstrap/5.0.1/scss/functions";
@import "../../vendor/bootstrap/5.0.1/scss/variables";

$gray-950: #111114;
$gray-850: #26262c;

$pepper-orange-0: #fd7c1c;
$pepper-orange-1: #e37263;
$pepper-orange-2: #c83a0c;
$pepper-yellow-1: #d67c01;
$pepper-violet-1: #fe1df6;
$pepper-violet-2: #9d12e1;

$district-sky: #17a1e5;

/* from YouTube */
$play-button-red: #ff0000;
$play-button-less-red: #cf3b39;

/* from Twitch */
$chat-purple-12: #d1b3ff;
$chat-purple-10: #a970ff;
$chat-purple-9: #9147ff;
$chat-purple-7: #5c16c5;
$chat-purple-5: #330c6e;
$chat-purple-3: #15052e;

$chat-cherry: #e91916;
$chat-orange: #ffca61;
$chat-sun: #fafa19;
$chat-lime: #bfff00;
$chat-seafoam: #6bffc4;
$chat-turquoise: #00fafa;
$chat-marine: #1f69ff;
$chat-wine: #bd0078;

$chat-marine-brighter: #528bff;
$chat-marine-brightest: #6b9af8;
$chat-marine-darkest: #283a5c;

$chat-muted-blush: #facccc;
$chat-muted-canary: #feee86;
$chat-muted-sky: #56bde6;
$chat-muted-lavender: #bda8ff;

$bw-grey-0: #0e0e10;
$bw-grey-1: #111114;
$bw-grey-2: #18181b;
$bw-grey-3: #1f1f23;
$bw-grey-4: #26262c;
$bw-grey-5: #323239;
$bw-grey-6: #3b3b44;
$bw-grey-7: #53535f;
$bw-grey-8: #848494;
$bw-grey-9: #adadb8;
$bw-grey-10: #c8c8d0;
$bw-grey-11: #d3d3d9;
$bw-grey-12: #dedee3;
$bw-grey-13: #e6e6ea;
$bw-grey-14: #efeff1;
$bw-grey-15: #f7f7f8;

$color-text-brighter: $bw-grey-13;
$color-text: $bw-grey-11;
$color-text-muted: $bw-grey-9;

$color-bg: $bw-grey-1;

$color-em: $chat-marine;
$color-strong: $chat-purple-9;
$color-anchor: $chat-purple-9;

$color-heading: $pepper-orange-0;

$color-error: $chat-cherry;
$color-warning: $chat-orange;

$body-bg: $color-bg;
$body-color: $color-text;

$link-color: $cyan-500;
$link-shade-percentage: -20%;

$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;
