@use 'styles';

@import "colors";
@import "layout";

.main-title {
    margin-bottom: 2rem;
    letter-spacing: -2px;

    .bot-name {
        border: none;
        padding: 0 0 0 1.2rem;
    }
}

.bot-name {
    position: relative;
    left: -1.3rem;

    padding: 0 0 0 0.6rem;

    font-size: 3rem;
    font-weight: 750;
    border-left: 0.6rem solid;
    line-height: 1;
}

#branding h1 {
    font-size: 1.6rem;
    margin: 0;

    left: -1.06rem;

    font-weight: 700;
    border-left: 0.45rem solid var(--accent);
    letter-spacing: -1px;

    a {
        color: $color-text;
    }

    @media screen and (max-width: 1024px) {
        left: -1.3rem;
        padding: 0 0 0 0.9rem;
    }
}

#socket-status {
    &.socket-on {
        color: $teal;
    }

    &.socket-off {
        color: $red;
    }

    .bi::before {
        font-size: 0.8em;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin: 0 3pt 0 0;
    }
}
