@import "./colors";

.masthead-container {
    width: 100vw;
    height: var(--masthead-height);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 5000;

    padding: var(--masthead-space-vertical) var(--masthead-space-horizontal);

    nav {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: center;
    }
}

.masthead-container + section {
    margin-top: var(--masthead-height);
}

.top-container {
    padding: 1rem 0;
}

.main-sidebar {
    position: fixed;
    top: var(--masthead-height);
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);

    padding-bottom: var(--footer-height);
    overflow-x: hidden;
    overflow-y: scroll;
}

.fixed-overlay {
    position: fixed;
    top: var(--masthead-height);
    left: 0;
    width: 0;
    bottom: 0;
    overflow-x: visible;
    overflow-y: visible;
    z-index: 5000;
}

.footer-container {
    width: 100vw;
    height: 4rem;
    margin-top: 4rem;

    position: sticky;
    top: var(--footer-height);
    z-index: -1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main-container {
    margin: 0 var(--masthead-space-horizontal);
}

.main-content {
    margin-left: calc(var(--sidebar-width) - var(--masthead-space-horizontal));
}

.section-container {
    columns: 480px 2;
    column-gap: 2rem;

    section {
        border-top: 2px solid;
        margin: 0 0 1rem 0;
        padding: 0.5rem 0 0 0;
        break-inside: avoid;
    }
}

.masthead-opt-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-control {
    height: 100%;
    padding: 0 1.5rem;
    vertical-align: middle;

    border-right: 1px solid $color-text;

    &:last-of-type {
        border-right: none;
        padding-right: 0;
    }
}

article {
    margin: 0 15vw 0;
}
