@import "./colors";

:root {
    --masthead-height: 3.6rem;
    --masthead-space-vertical: 10px;
    --masthead-space-horizontal: 40px;
    --footer-height: calc(100vh - 4rem);

    @media screen and (max-width: 1024px) {
        font-size: 11pt;
        --masthead-space-horizontal: 1.3rem;
    }
}

.masthead-container {
    width: 100vw;
    height: var(--masthead-height);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 5000;

    padding: var(--masthead-space-vertical) var(--masthead-space-horizontal);

    nav {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: center;
    }
}

.masthead-container + section {
    margin-top: var(--masthead-height);
}

.top-container {
    padding: 1rem 0;
}

.fixed-overlay {
    position: fixed;
    top: var(--masthead-height);
    left: 0;
    width: 0;
    bottom: 0;
    overflow-x: visible;
    overflow-y: visible;
    z-index: 5000;
}

.footer-container {
    width: 100vw;
    height: 4rem;

    position: sticky;
    top: var(--footer-height);
    z-index: -1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main-container {
    --sidebar-width: 288px;

    margin: 0 var(--masthead-space-horizontal) 4rem 0;

    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    column-gap: 1.3rem;

    @media screen and (max-width: 1024px) {
        margin: 0 var(--masthead-space-horizontal) 4rem;
        grid-template-columns: 1fr;
    }
}

.main-sidebar {
    overflow-x: hidden;
    overflow-y: scroll;

    .auth-control {
        display: none;

        @media screen and (max-width: 1024px) {
            display: flex;
        }

        margin: 0 1rem 1rem 1rem;

        flex-flow: column nowrap;

        .nav-control {
            padding: 0.25rem 0;
            border: none;

            &:last-of-type {
                padding-right: 0.5rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        position: fixed;
        z-index: 1000;

        height: calc(100vh - var(--masthead-height));
        right: 0;
        left: 0;
        bottom: 100vh;

        &.sidebar-visible {
            bottom: 0;
        }

        transition: bottom 0.35s cubic-bezier(0.09, 1.07, 0.26, 1);

        padding: 1rem 0;
        background-color: $bw-grey-1;
    }
}

.section-container {
    display: grid;

    row-gap: 1.6rem;
    column-gap: 1.6rem;

    section {
        border-top: 2px solid;
        margin-bottom: 1rem;
        padding: 0.5rem 0 0 0;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);

        .grid-span-all {
            grid-column: 1 / 3;
        }
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);

        .grid-span-all {
            grid-column: 1 / 3;
        }
    }

    grid-template-columns: repeat(3, 1fr);

    .grid-span-all {
        grid-column: 1 / 4;
    }

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-flow: column nowrap;

        row-gap: unset;
        column-gap: unset;

        section {
            flex: 1 0 auto;
            margin-bottom: 2rem;
        }
    }
}

.masthead-opt-group {
    display: flex;
    flex-flow: row nowrap;

    height: 100%;
}

.nav-control {
    height: 100%;

    padding: 0 1.5rem;

    display: flex;
    flex-flow: row nowrap;
}

#auth-control {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

#top-menu-toggle {
    display: none;

    @media screen and (max-width: 1024px) {
        display: flex;
    }

    .top-menu {
        color: $color-text;
        font-size: 1.6rem;
        font-weight: 700 !important;

        i.bi::before {
            vertical-align: middle;
        }
    }

    .identity-control {
        position: relative;
        top: 1px;
    }
}

.main-sidebar {
    details {
        --item-distance: 1rem;

        @media screen and (max-width: 1024px) {
            --item-distance: 1.2rem;
        }

        summary,
        li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            letter-spacing: -0.5px;
            font-weight: 700;
            font-size: 1.1rem;
            line-height: 1rem;

            user-select: none;

            i.bi::before {
                font-size: 1.2rem;
                margin: 0 6pt 0 0;
                vertical-align: middle;
            }
        }

        summary {
            cursor: pointer;
            padding: var(--item-distance) 0.5rem var(--item-distance) 1.3rem;
            background-color: $bw-grey-2;
            box-shadow: var(--box-shadow-1);
        }

        li {
            padding: 0 0.5rem 0 1rem;
            margin: var(--item-distance) 0;
        }

        ul {
            margin: 0 0 0 1.9rem;
            padding: 0;
        }

        a {
            color: $color-text;
        }

        .sidebar-active {
            color: var(--accent);

            a {
                color: var(--accent);
            }
        }
    }
}
