{% extends 'web/base.html' %}
{% load inspect %}

{% block main %}
<h1 class="bot-name" class="ui-text-no-select">{{ branding_full }}</h1>
<section class="section-container">
    <section>
        <header>
            <h3>access</h3>
        </header>
        <div class="interactive-text">
            <form action="{% if not joined %}{% url 'web.join' %}{% else %}{% url 'web.leave' %}{% endif %}" method="POST">
                <input type="hidden" name="guild_id" id="guild-id" value="current_guild.id">
                <button class="btn {{ joined|yesno:'btn-outline-danger,btn-info' }}" type="submit">
                    {{ joined|yesno:'leave,join' }} server
                </button>
            </form>
        </div>
    </section>
</section>
{% endblock %}