{% if user_authenticated %}
<div id="server-select" class="nav-control interactive-text">
    <div class="dropdown">
        <a class="guild-control identity-control" href="#" data-bs-toggle="dropdown" tabindex="0" role="button">
            {% if discord.info %}
            <figure class="profile-picture guild-profile">
                <img src="{{ discord.info.icon_url }}" class="rounded-circle"
                    alt="icon for server {{ discord.info.name }}">
            </figure>
            {% endif %}
            <div id="server-select" class="identity-str">
                {% if discord.info %}
                <span data-server-endpoint="{% url 'web:api' %}" data-server-id="{{ discord.server_id }}">
                    {{ discord.info.name }}
                </span>
                {% else %}
                <span>Select server</span>{% endif %}
                <i class="bi bi-chevron-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <h6 class="dropdown-header">Joined servers</h6>
            </li>
            {% for guild in discord.joined_servers.values %}
            <li><a href="{% url 'web:manage.index' guild_id=guild.id %}" class="dropdown-item">{{ guild.name }}</a></li>
            {% empty %}
            <li><a href="#" class="dropdown-item disabled">(no server joined)</a></li>
            {% endfor %}
            <li>
                <h6 class="dropdown-header">Available servers</h6>
            </li>
            {% for guild in discord.pending_servers.values %}
            <li><a href="{% url 'web:manage.index' guild_id=guild.id %}" class="dropdown-item">{{ guild.name }}</a></li>
            {% empty %}
            <li><a href="#" class="dropdown-item disabled">(no server available)</a></li>
            {% endfor %}
            <li>
                <form action="{% url 'web:refresh' %}" method="POST" class="server-refresh">
                    {% csrf_token %}
                    <input type="hidden" name="dest" value="{{ request.get_full_path }}">
                    <button type="submit"><span class="dropdown-header">Refresh</span></button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endif %}
<div id="discord-login" class="nav-control interactive-text">
    {% if user_authenticated %}
    <div class="dropdown">
        <a class="login-control identity-control" href="#" data-bs-toggle="dropdown" tabindex="0" role="button">
            <figure class="profile-picture user-profile">
                <img src="{{ discord.user_profile.icon_url }}" class="rounded-circle"
                    alt="icon for user {{ discord.username }}">
            </figure>
            <div id="user-info" class="identity-str">
                <span>{{ discord.username }}</span> <i class="bi bi-chevron-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="{% url 'web:logout' %}" class="dropdown-item">Logout</a></li>
        </ul>
    </div>
    {% else %}
    <a href="{% url 'web:login' %}"><i class="bi bi-discord"></i> <span>Login via Discord</span></a>
    {% endif %}
</div>